@use '../../assets/styles/variables.scss' as *;

.tabs {
  display: flex;
  width: 100%;

  & .tab_list {
    display: flex;
    flex-direction: column;
    transform: translateY(-3px);

    & .tabs-button {
      background-color: $black;
      color: $white;
      padding: 5px 10px 5px 20px;
      font-weight: 800;
      border: 3px solid $black;
      transform: translateX(-10px);
      transition: transform 0.5s, color 0.5s, background-color 0.5s;

      &:active, &:focus, &.activated {
        background-color: $white;
        color: $black;
      }

      &:focus, &:hover {
        transform: translateX(-3px);
      }

      &.activated {
        transform: translateX(-10px);

        &:hover, &:focus {
          transform: translateX(-3px);
        }
      }

      & .vertical_text {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }
    }
  }

  & .tab_panel {
    & .tab {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 10px;
      padding: 20px 0;

      &.hidden {
        display: none;
      }
    }
  }

  &.dark-mode,
  &.veryDark-mode {
    & .tabs-button {
      background-color: $darkModeGray;
      border: 3px solid $darkModeGray;

      &:focus {
        transform: translateX(-3px);
        border: 3px solid $darkModeGray;
        background-color: $white;
        color: $black;
      }

      &.activated {
        transform: translateX(-10px);
        border: 3px solid $darkModeGray;
      }
    }
  }
}

@media screen and (max-device-width: 600px) {
  .tabs {
    & .tab_list {
      width: 10%;
      & .tabs-button {
        margin-bottom: -2px;
        display: flex;
      }
    }
    & .tab_panel {
      width: 90%;
      & .tab {
        width: 100%;
        padding-left: 0;
        padding-right: 9px;
      }
    }
  }
}
