@use '../../assets/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5rem;
  padding-right: 20px;
}

.project {
  // min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 40px 0 200px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.description {
  width: 50%;
  color: $black;
  border-top: 10px solid $dynamicWhite;
  border-bottom: 10px solid $dynamicWhite;
  background-color: #3333330a;
  border-radius: 20px;
  padding: 20px;
  transition: border-color $duration;

  & :nth-child(1n) {
    margin-bottom: 1rem;
    position: relative;
    border-radius: 10px;
  }

  & :nth-last-child(1) {
    margin-bottom: 0;

    &::after {
      content: none;
    }
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
}

.prevue {
  width: 45%;
  border: 5px solid $dynamicWhite;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 15px 1px 18px #00000069;
  position: relative;
  transition: border-color $duration;

  &.right {
    transform: perspective(400px) rotateY(347deg) translateX(0);

    &.visible {
      animation: slideToLeft 3s forwards, movementRight 20s 3s infinite;
    }
  }

  &.left {
    transform: perspective(400px) rotateY(13deg) translateX(0);
    box-shadow: -15px 1px 18px #00000069;

    &.visible {
      animation: slideToRight 2s forwards, movementLeft 20s 3s infinite;
    }
  }
}

.title {
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  background-color: $dynamicWhite;
  color: $dynamicBlack;
  font-weight: 700;
  transition: background-color $duration;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px;
  @include flexCenter;
  gap: 10px;

  .reverse & {
    flex-direction: row-reverse;
  }
}

.icon {
  font-size: 1.2rem;
  color: $dynamicBlack;
}

.infoBtn,
.link {
  @include flexCenter;
  transition: transform $duration;

  &:active {
    transform: scale(0.9);

    &:hover {
      transform: scale(0.9);
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.infoBtn {
  color: $dynamicWhite;
}

.img {
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}

.stack {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;

  .left & {
    right: 20px;
    left: auto;
    text-align: end;
    align-items: flex-end;
  }
}

.stackItem {
  background-color: #00000094;
  color: white;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  margin-bottom: 5px;
  width: max-content;

  &:last-child {
    margin-bottom: 0;
  }
}

@keyframes slideToLeft {
  0%,
  25% {
    transform: perspective(400px) rotateY(320deg) translateX(100px);
    opacity: 0;
  }

  100% {
    transform: perspective(400px) rotateY(347deg) translateX(0);
    opacity: 1;
  }
}

@keyframes slideToRight {
  0%,
  25% {
    transform: perspective(400px) rotateY(40deg) translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: perspective(400px) rotateY(13deg) translateX(0);
    opacity: 1;
  }
}

@keyframes movementLeft {
  0% {
    transform: perspective(400px) rotateY(13deg) translateX(0px);
    box-shadow: -15px 1px 18px #00000069;
  }

  25% {
    transform: perspective(400px) rotateY(7deg) translateX(10px);
    box-shadow: -9px 1px 12px #00000069;
  }

  50% {
    transform: perspective(400px) rotateY(17deg) translateX(-5px);
    box-shadow: -19px 1px 22px #00000069;
  }

  75% {
    transform: perspective(400px) rotateY(10deg) translateX(15px);
    box-shadow: -12px 1px 15px #00000069;
  }

  100% {
    transform: perspective(400px) rotateY(13deg) translateX(0);
    box-shadow: -15px 1px 18px #00000069;
  }
}

@keyframes movementRight {
  0% {
    transform: perspective(400px) rotateY(347deg) translateX(0px);
    box-shadow: 15px 1px 18px #00000069;
  }

  25% {
    transform: perspective(400px) rotateY(339deg) translateX(10px);
    box-shadow: 23px 1px 10px #00000069;
  }

  50% {
    transform: perspective(400px) rotateY(351deg) translateX(-5px);
    box-shadow: 11px 1px 22px #00000069;
  }

  75% {
    transform: perspective(400px) rotateY(344deg) translateX(15px);
    box-shadow: 18px 1px 15px #00000069;
  }

  100% {
    transform: perspective(400px) rotateY(347deg) translateX(0);
    box-shadow: 15px 1px 18px #00000069;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .project {
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: center;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  .description {
    width: 100%;
  }

  .prevue {
    width: 95%;
  }
}
