.overlay {
  --cursorX: 50vw;
  --cursorY: 50vh;
  cursor: none;

  &::before {
    content: '';
    display: block;
    z-index: 10;
    width: 100vw;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.99) 100%
    );
    animation: flicker 1s 5s 2 alternate;
  }

  @keyframes flicker {
    0%,
    40%,
    50%,
    70% {
      background: radial-gradient(
        circle 10vmax at var(--cursorX) var(--cursorY),
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.9) 80%,
        rgba(0, 0, 0, 0.99) 100%
      );
    }

    10%,
    20%,
    30%,
    60%,
    80%,
    90%,
    100% {
      background: radial-gradient(
        circle 10vmax at var(--cursorX) var(--cursorY),
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 80%,
        rgba(0, 0, 0, 0.99) 100%
      );
    }
  }
}

@media screen and (max-device-width: 600px) {
  .overlay {
    &::before {
      content: '';
      display: block;
      z-index: 10;
      width: 100vw;
      height: 100%;
      position: fixed;
      pointer-events: none;
      background: radial-gradient(
        ellipse at 50% -80%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 0.99) 100%
      );
      animation: 1s flicker 5s 2 alternate;
    }
  }

  @keyframes flicker {
    0%,
    40%,
    50%,
    70% {
      background: radial-gradient(
        ellipse at 50% -80%,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.9) 80%,
        rgba(0, 0, 0, 0.99) 100%
      );
    }

    10%,
    20%,
    30%,
    60%,
    80%,
    90%,
    100% {
      background: radial-gradient(
        ellipse at 50% -80%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 80%,
        rgba(0, 0, 0, 0.99) 100%
      );
    }
  }
}
