@use '../../assets/styles/variables.scss' as *;

.theme_toggle {
  position: absolute;

  & .buttons_wrapper {
    position: relative;
    width: 50px;
    height: 50px;

    & .light_button,
    .dark_button,
    .blackout_button,
    .switcher {
      position: absolute;
      border: 1px solid $white;
      width: 14px;
      height: 14px;
      background-color: $white;
      cursor: pointer;
      transition: background-color 0.5s, scale 0.5s;

      &:hover {
        &::before {
          content: '';
          font-size: 10px;
          font-weight: 900;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    & .light_button {
      top: 0;
    }

    & .dark_button {
      bottom: 0;
    }

    & .blackout_button {
      bottom: 0px;
      right: 0;
    }

    & .switcher {
      top: 0px;
      left: 0px;
      width: 14px;
      height: 14px;
      transition: width 0.5s;

      &:focus {
        width: 44px;
      }

      &.light_to_dark {
        animation: light_to_dark 1s ease forwards;

        @keyframes light_to_dark {
          0% {
            height: 14px;
          }

          50% {
            height: 44px;
            transform: translateY(0px);
          }

          100% {
            height: 14px;
            transform: translateY(36px);
          }
        }
      }

      &.light_to_blackout {
        animation: light_to_blackout 2s ease forwards;

        @keyframes light_to_blackout {
          0% {
            height: 14px;
          }

          25% {
            height: 44px;
            transform: translate(0px, 0px);
          }

          50% {
            width: 14px;
            height: 14px;
            transform: translate(0px, 36px);
          }

          75% {
            width: 44px;
            transform: translate(0px, 36px);
          }

          100% {
            width: 14px;
            transform: translate(36px, 36px);
          }
        }
      }

      &.dark_to_light {
        animation: dark_to_light 1s ease forwards;

        @keyframes dark_to_light {
          0% {
            transform: translateY(36px);
            height: 14px;
          }

          50% {
            transform: translateX(0px);
            height: 44px;
          }

          100% {
            height: 14px;
          }
        }
      }

      &.dark_to_blackout {
        animation: dark_to_blackout 1s ease forwards;

        @keyframes dark_to_blackout {
          0% {
            transform: translate(0px, 36px);
            width: 14px;
          }

          50% {
            width: 44px;
            transform: translate(0px, 36px);
          }

          100% {
            width: 14px;
            transform: translate(36px, 36px);
          }
        }
      }

      &.blackout_to_dark {
        animation: blackout_to_dark 1s ease forwards;

        @keyframes blackout_to_dark {
          0% {
            width: 14px;
            transform: translate(36px, 36px);
          }

          50% {
            width: 44px;
            transform: translate(0px, 36px);
          }

          100% {
            transform: translate(0px, 36px);
            width: 14px;
          }
        }
      }

      &.blackout_to_light {
        animation: blackout_to_light 2s ease forwards;

        @keyframes blackout_to_light {
          0% {
            width: 14px;
            transform: translate(36px, 36px);
          }

          25% {
            width: 44px;
            transform: translate(0px, 36px);
          }

          50% {
            transform: translate(0px, 36px);
            width: 14px;
            height: 14px;
          }

          75% {
            transform: translate(0px, 0px);
            height: 44px;
            width: 14px;
          }

          100% {
            transform: translate(0px, 0px);
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }

  .dark-mode &,
  .blackout-mode & {
    & .light_button,
    .dark_button,
    .blackout_button,
    .switcher {
      border: 1px solid $white;
      background-color: $white;
    }
  }
}
